{
  "openapi": "3.0.4",
  "info": {
    "title": "RamBase API",
    "description": "Limited set of API resources from RamBase API. Add query parameter 'clientId' to retrieve API resources your API client has permission to.",
    "contact": {
      "email": "support@rambase.net"
    },
    "license": {
      "name": "RamBase Licence"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.rambase.net",
      "description": "Production server"
    }
  ],
  "paths": {
    "/sales/customers/{customerId}": {
      "delete": {
        "tags": [
          "sales"
        ],
        "summary": "Deletes specified customer",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=1855&version=3"
        },
        "operationId": "sales_DeleteCustomerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/db"
          }
        ],
        "responses": {
          "202": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "sales"
        ],
        "summary": "Customer details for the provided identifier",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=156&version=101"
        },
        "operationId": "sales_GetCustomerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          },
          {
            "$ref": "#/components/parameters/showDomainValues"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Used to add fields to the response",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CustomerLegalEntity",
                  "Shipment.ShippingService.Carrier",
                  "Shipment.DefaultShippingAddress",
                  "Invoicing.DefaultInvoiceAddress",
                  "Auction",
                  "Service"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "customer": {
                      "type": "object",
                      "properties": {
                        "customerId": {
                          "type": "integer",
                          "description": "Customer identifier",
                          "format": "int32"
                        },
                        "status": {
                          "type": "integer",
                          "description": "Status of the customer. 1:New, 2:Pending internal approvement, 4:Active, 9:Obsolete",
                          "format": "int32"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of customer (name of company or surname/familyname/lastname of a person)"
                        },
                        "isCompany": {
                          "type": "boolean",
                          "description": "Indicator if a customer is private entity or a company"
                        },
                        "firstName": {
                          "type": "string",
                          "description": "Secondary name of a company or firstname of a person"
                        },
                        "preferredLanguage": {
                          "type": "string",
                          "description": "Preferred language for the customer. Is used in prints etc.\r\n"
                        },
                        "website": {
                          "type": "string",
                          "description": "Customers website/homepage/webpage"
                        },
                        "phone": {
                          "type": "string",
                          "description": "Customers main phone number"
                        },
                        "fax": {
                          "type": "string",
                          "description": "Customers main fax number"
                        },
                        "email": {
                          "type": "string",
                          "description": "Customers main email"
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "External customer reference/identifier. Can be used in external systems."
                        },
                        "internalNote": {
                          "type": "string",
                          "description": "Internal note/notice of the customer. Should not be visible to the customer."
                        },
                        "isRelatedBusinessEntity": {
                          "type": "boolean",
                          "description": "Identify if a customer is related business entity to the company"
                        },
                        "legalEntityIdentifier": {
                          "type": "string",
                          "description": "The customers unique enterprise/organization number."
                        },
                        "vATRegistrationNumber": {
                          "type": "string",
                          "description": "Unique number assigned by the relevant tax authority to identify a party for use in relation to value added tax (VAT)."
                        },
                        "useStandardVATNumberRules": {
                          "type": "boolean",
                          "description": "Do not automatically replace the VAT number based on the location configuration"
                        },
                        "eORINumber": {
                          "type": "string",
                          "description": "An EORI (Economic Operator Registration and Identification number) number is required of any party intending to import into the EU or export from the EU."
                        },
                        "classification": {
                          "type": "string",
                          "description": "Classification of the customer"
                        },
                        "updatedAt": {
                          "type": "string",
                          "description": "Date and time of update",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "Date and time of creation",
                          "format": "date-time"
                        },
                        "createdBy": {
                          "type": "object",
                          "properties": {
                            "userId": {
                              "type": "integer",
                              "description": "User identifier",
                              "format": "int32"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name of the user"
                            },
                            "firstName": {
                              "type": "string",
                              "description": "First name of the user"
                            },
                            "userLink": {
                              "type": "string",
                              "description": "User reference"
                            }
                          },
                          "description": "The employee (might be RamBase-server) that created the customer"
                        },
                        "intercompany": {
                          "$ref": "#/components/schemas/Intercompany"
                        },
                        "currencies": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Currency"
                          },
                          "description": "Currencies used by the customer"
                        },
                        "sales": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Three character code following the ISO 4217 standard"
                            },
                            "backlogAmount": {
                              "type": "number",
                              "description": "Total amount of sales orders, excluding value added tax, that not yet has been fulfilled. ",
                              "format": "double"
                            },
                            "backlogAmountIncludingVAT": {
                              "type": "number",
                              "description": "Total amount of sales orders, including value added tax, that not yet has been fulfilled",
                              "format": "double"
                            },
                            "salesDistrict": {
                              "type": "string",
                              "description": "A geographic district for which an individual salesperson or sales team holds responsibility"
                            },
                            "sector": {
                              "type": "string",
                              "description": "The sector the customer belongs to."
                            },
                            "marketSegment": {
                              "type": "string",
                              "description": "Market segment of the customer"
                            },
                            "minimumGrossMargin": {
                              "type": "number",
                              "description": "The minimum gross margin in percent for the customer",
                              "format": "double"
                            },
                            "vATHandling": {
                              "type": "string",
                              "description": "Specifies how value added tax (VAT) should be calculated. Either always include VAT, always exclude VAT or use standard/default VAT rules."
                            },
                            "warrantyPeriod": {
                              "type": "integer",
                              "description": "Agreement of default warranty period in months ",
                              "format": "int32"
                            },
                            "feeAmount": {
                              "type": "number",
                              "description": "This is an amount, in the companies local currency, that by default will be added as fee when a sales order is created for this customer.",
                              "format": "double"
                            },
                            "volumePriceAgreement": {
                              "type": "string",
                              "description": "Special price agreement related to the quantity beeing ordered. "
                            },
                            "exchangeRateFluctuationAgreement": {
                              "type": "string",
                              "description": "When a sales order is issued, RamBase stores the current exchange rate and the currency the product normally is purchased in. The exchange rate might have changed when the invoice is issued. The exchange rate fluctuation agreement specifies how to handle these differences. The agreement has the format AAA/BBB, where AAA is a percentage of the total invoice, and BBB is the exchange rate fluctuation percentage. E.g. 100/3.0 means that if the rate of exchange on the date a sales order is forwarded to an invoice has changed more than +/- 3% from the rate of exchange, 100% of the invoice amount will be adjusted."
                            },
                            "blockSalesOrderRegistration": {
                              "type": "boolean",
                              "description": "True if sales orders for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to sales orders for this customer."
                            },
                            "blockSalesQuoteRegistration": {
                              "type": "boolean",
                              "description": "True if sales quotes for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to sales quotes for this customer."
                            },
                            "latestSalesOrderDate": {
                              "type": "string",
                              "description": "Date of latest sales order or sales order request registration.",
                              "format": "date"
                            },
                            "priceList": {
                              "$ref": "#/components/schemas/PriceList"
                            },
                            "salesAssistant": {
                              "$ref": "#/components/schemas/SalesAssistant"
                            },
                            "accountManager": {
                              "$ref": "#/components/schemas/AccountManager"
                            }
                          }
                        },
                        "customerLegalEntity": {
                          "$ref": "#/components/schemas/CustomerLegalEntity"
                        },
                        "shipment": {
                          "type": "object",
                          "properties": {
                            "deliveryTerms": {
                              "type": "string",
                              "description": "Default delivery terms for the customer. The delivery terms is based on the Incoterms rules from ICC (International Chamber of Commerce). "
                            },
                            "deliveryTermPlace": {
                              "type": "string",
                              "description": "Named place related to delivery terms (Incoterms)"
                            },
                            "onlyShipEntireSalesOrders": {
                              "type": "boolean",
                              "description": "True if all items of a sales order should be shipped together. The items of a sales order should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                            },
                            "onlyShipEntireSalesOrderItems": {
                              "type": "boolean",
                              "description": "True if the total quantity of a sales order item always should be shipped together. The quantity should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                            },
                            "avoidMultipleShipmentsOnSameDate": {
                              "type": "boolean",
                              "description": "True if all items of a sales order with the same sheduled delivery date should be shipped together. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                            },
                            "shipBasedOnConfirmedDeliveryDate": {
                              "type": "boolean",
                              "description": "If true, will sheduled shipping date on each item be calculated based on confirmed date rather than requested date."
                            },
                            "freightForEachShipment": {
                              "type": "boolean",
                              "description": "If unchecked there will only be calculated freight on one shipping advice if the particular sales order has serveral shipments."
                            },
                            "shippingDay": {
                              "type": "string",
                              "description": "Specifies when the goods should be shipped. This is used to calculate the scheduled shipping date for each item."
                            },
                            "consolidateShippingAdvices": {
                              "type": "boolean",
                              "description": "If true, sales orders will be consolidated when creating shipping advices via the \"Prepare for picking\" process  the . If false, each sales order will result in seperate shipping advice. The field to use when consolidating is specified in the ShippingAdviceConsolidationField. "
                            },
                            "shippingAdviceConsolidationField": {
                              "type": "string",
                              "description": "Field to use when consolidating sales order items into shipping advices in the \"Prepare for picking\" process."
                            },
                            "shippingAdviceItemSortBy": {
                              "type": "string",
                              "description": "Items in consolidated shipping advices will be sorted by this fields when they are created in the 'Prepare for picking' process"
                            },
                            "requireApprovalIfOverdue": {
                              "type": "boolean",
                              "description": "True if  shipments need approval if there are sales invoices with overdue amount. Default value is retireved from setting: DefaultCreateValueCUSFieldDUEAPPROVE"
                            },
                            "blockShipping": {
                              "type": "boolean",
                              "description": "True if shipping advices for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to shipping advices for this customer."
                            },
                            "specialHandling": {
                              "$ref": "#/components/schemas/SpecialHandling"
                            },
                            "shippingService": {
                              "$ref": "#/components/schemas/ShippingService"
                            },
                            "defaultShippingAddress": {
                              "type": "object",
                              "properties": {
                                "addressId": {
                                  "type": "integer",
                                  "description": "Address identifier",
                                  "format": "int32"
                                },
                                "attention": {
                                  "type": "string",
                                  "description": "Attention note."
                                },
                                "addressLine1": {
                                  "type": "string",
                                  "description": "First address line"
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "description": "Second address line"
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "Postalcode/Postcode/ZIP"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "City/town/village"
                                },
                                "region": {
                                  "type": "string",
                                  "description": "Region/province/state"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "Two-character code (ISO 3166) identifying the country."
                                },
                                "country": {
                                  "type": "string",
                                  "description": "English name of country."
                                },
                                "addressLink": {
                                  "type": "string",
                                  "description": "Address reference"
                                }
                              }
                            }
                          }
                        },
                        "invoicing": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Three character code following the ISO 4217 standard"
                            },
                            "interestRate": {
                              "type": "number",
                              "description": "Interest rate used for sales invoices past duedate",
                              "format": "double"
                            },
                            "interestFeeAmount": {
                              "type": "number",
                              "description": "Fixed interest fee used for the customer.",
                              "format": "double"
                            },
                            "salesInvoiceConsolidation": {
                              "type": "string",
                              "description": "Specifies whether or how often shipping advices that origins from this sales order will be consolidated when creating sales invoices."
                            },
                            "salesInvoiceConsolidationField": {
                              "type": "string",
                              "description": "Field name to group by when consolidating shipping advice items into sales invoices."
                            },
                            "salesInvoiceItemSortBy": {
                              "type": "string",
                              "description": "Field name to sort by when creating sales invoice items."
                            },
                            "sendReminders": {
                              "type": "boolean",
                              "description": "Set to false if reminder are not be sent to this customer. Default value is retireved from setting: DefaultCreateValueCUSFieldREMINDER"
                            },
                            "latestSalesInvoiceDate": {
                              "type": "string",
                              "description": "Date last sales invoice was registered.",
                              "format": "date"
                            },
                            "sendToFactoring": {
                              "type": "boolean",
                              "description": "Identify which customer, invoices ands credit notes, will be send to factoring"
                            },
                            "defaultInvoiceAddress": {
                              "type": "object",
                              "properties": {
                                "addressId": {
                                  "type": "integer",
                                  "description": "Address identifier",
                                  "format": "int32"
                                },
                                "attention": {
                                  "type": "string",
                                  "description": "Attention note."
                                },
                                "addressLine1": {
                                  "type": "string",
                                  "description": "First address line"
                                },
                                "addressLine2": {
                                  "type": "string",
                                  "description": "Second address line"
                                },
                                "postalCode": {
                                  "type": "string",
                                  "description": "Postalcode/Postcode/ZIP"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "City/town/village"
                                },
                                "region": {
                                  "type": "string",
                                  "description": "Region/province/state"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "Two-character code (ISO 3166) identifying the country."
                                },
                                "country": {
                                  "type": "string",
                                  "description": "English name of country."
                                },
                                "addressLink": {
                                  "type": "string",
                                  "description": "Address reference"
                                }
                              }
                            }
                          }
                        },
                        "payment": {
                          "type": "object",
                          "properties": {
                            "paymentTerms": {
                              "type": "string",
                              "description": "Default payment terms to use in new documents."
                            },
                            "paymentMethod": {
                              "type": "string",
                              "description": "Default payment method for the customer"
                            },
                            "latestPaymentDate": {
                              "type": "string",
                              "description": "Date last payment was registered",
                              "format": "date"
                            }
                          }
                        },
                        "accounting": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "description": "Three character code following the ISO 4217 standard"
                            },
                            "balance": {
                              "type": "number",
                              "description": "Total balance for the customer, without value added tax",
                              "format": "double"
                            },
                            "balanceIncludingVAT": {
                              "type": "number",
                              "description": "Total balance for the customer. Positive amount indicates how much the customer owes. Negative amount indicates that the customer has a credit balance.",
                              "format": "double"
                            },
                            "billingYTDAmount": {
                              "type": "number",
                              "description": "Total amount of invoices and credit notes that has been invoiced this year (to current date)",
                              "format": "double"
                            },
                            "overdueAmount": {
                              "type": "number",
                              "description": "Total amount of unpaid invoices which has passed due date",
                              "format": "double"
                            },
                            "creditLimit": {
                              "type": "number",
                              "description": "The maximum amount that the customer may charge on a credit card or borrow from a financial institution.",
                              "format": "double"
                            },
                            "creditInsuranceAmount": {
                              "type": "number",
                              "description": "Credit amount insured for the customer",
                              "format": "double"
                            },
                            "creditInsuranceCompany": {
                              "type": "string",
                              "description": "Insurance company used by the customer for credit insurance"
                            }
                          }
                        },
                        "auction": {
                          "type": "object",
                          "properties": {
                            "feePercent": {
                              "type": "number",
                              "description": "The commission paid by the customer when purchasing LOTs",
                              "format": "double"
                            },
                            "latestBidDate": {
                              "type": "string",
                              "description": "Last date the customer placed a bid.",
                              "format": "date"
                            },
                            "crossReference": {
                              "type": "object",
                              "properties": {
                                "supplier": {
                                  "type": "object",
                                  "properties": {
                                    "supplierId": {
                                      "type": "integer",
                                      "description": "RamBase supplier identifier",
                                      "format": "int32"
                                    },
                                    "supplierLink": {
                                      "type": "string",
                                      "description": "Supplier reference"
                                    }
                                  },
                                  "description": "Every customer in auction companies has a cross-reference to a supplier."
                                },
                                "totalBalance": {
                                  "type": "number",
                                  "description": "Sum of customer and cross referenced supplier balances ",
                                  "format": "double"
                                },
                                "totalOverdueAmount": {
                                  "type": "number",
                                  "description": "Sum of customer and cross referenced supplier overdued amounts",
                                  "format": "double"
                                }
                              }
                            }
                          }
                        },
                        "service": {
                          "$ref": "#/components/schemas/Service"
                        },
                        "rental": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "sales"
        ],
        "summary": "Saves/stores details about a customer",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=202&version=63"
        },
        "operationId": "sales_UpdateCustomerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customer": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of customer (name of company or surname/familyname/lastname of a person)"
                      },
                      "isCompany": {
                        "type": "boolean",
                        "description": "Indicator if a customer is private entity or a company"
                      },
                      "firstName": {
                        "type": "string",
                        "description": "Secondary name of a company or firstname of a person"
                      },
                      "preferredLanguage": {
                        "pattern": "^[a-z]{3}$",
                        "type": "string",
                        "description": "Preferred language for the customer. Is used in prints etc.\r\n"
                      },
                      "website": {
                        "type": "string",
                        "description": "Customers website/homepage/webpage"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Customers main phone number"
                      },
                      "fax": {
                        "type": "string",
                        "description": "Customers main fax number"
                      },
                      "email": {
                        "pattern": "^\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$",
                        "type": "string",
                        "description": "Customers main email"
                      },
                      "externalReference": {
                        "type": "string",
                        "description": "External customer reference/identifier. Can be used in external systems."
                      },
                      "internalNote": {
                        "type": "string",
                        "description": "Internal note/notice of the customer. Should not be visible to the customer."
                      },
                      "isRelatedBusinessEntity": {
                        "type": "boolean",
                        "description": "Identify if a customer is related business entity to the company"
                      },
                      "legalEntityIdentifier": {
                        "type": "string",
                        "description": "The customers unique enterprise/organization number."
                      },
                      "vATRegistrationNumber": {
                        "type": "string",
                        "description": "Unique number assigned by the relevant tax authority to identify a party for use in relation to value added tax (VAT)."
                      },
                      "useStandardVATNumberRules": {
                        "type": "boolean",
                        "description": "Do not automatically replace the VAT number based on the location configuration"
                      },
                      "eORINumber": {
                        "type": "string",
                        "description": "An EORI (Economic Operator Registration and Identification number) number is required of any party intending to import into the EU or export from the EU."
                      },
                      "classification": {
                        "type": "string",
                        "description": "Classification of the customer"
                      },
                      "intercompany": {
                        "$ref": "#/components/schemas/Intercompany"
                      },
                      "currencies": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Currency"
                        },
                        "description": "Currencies used by the customer"
                      },
                      "sales": {
                        "type": "object",
                        "properties": {
                          "salesDistrict": {
                            "type": "string",
                            "description": "A geographic district for which an individual salesperson or sales team holds responsibility"
                          },
                          "sector": {
                            "type": "string",
                            "description": "The sector the customer belongs to."
                          },
                          "marketSegment": {
                            "type": "string",
                            "description": "Market segment of the customer"
                          },
                          "minimumGrossMargin": {
                            "maxLength": 99,
                            "minLength": 0,
                            "type": "number",
                            "description": "The minimum gross margin in percent for the customer",
                            "format": "double"
                          },
                          "vATHandling": {
                            "type": "string",
                            "description": "Specifies how value added tax (VAT) should be calculated. Either always include VAT, always exclude VAT or use standard/default VAT rules."
                          },
                          "warrantyPeriod": {
                            "minimum": 0,
                            "type": "integer",
                            "description": "Agreement of default warranty period in months ",
                            "format": "int32"
                          },
                          "feeAmount": {
                            "minLength": 0,
                            "type": "number",
                            "description": "This is an amount, in the companies local currency, that by default will be added as fee when a sales order is created for this customer.",
                            "format": "double"
                          },
                          "volumePriceAgreement": {
                            "type": "string",
                            "description": "Special price agreement related to the quantity beeing ordered. "
                          },
                          "exchangeRateFluctuationAgreement": {
                            "type": "string",
                            "description": "When a sales order is issued, RamBase stores the current exchange rate and the currency the product normally is purchased in. The exchange rate might have changed when the invoice is issued. The exchange rate fluctuation agreement specifies how to handle these differences. The agreement has the format AAA/BBB, where AAA is a percentage of the total invoice, and BBB is the exchange rate fluctuation percentage. E.g. 100/3.0 means that if the rate of exchange on the date a sales order is forwarded to an invoice has changed more than +/- 3% from the rate of exchange, 100% of the invoice amount will be adjusted."
                          },
                          "blockSalesOrderRegistration": {
                            "type": "boolean",
                            "description": "True if sales orders for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to sales orders for this customer."
                          },
                          "blockSalesQuoteRegistration": {
                            "type": "boolean",
                            "description": "True if sales quotes for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to sales quotes for this customer."
                          },
                          "priceList": {
                            "type": "object",
                            "properties": {
                              "priceListId": {
                                "minimum": 100000,
                                "type": "integer",
                                "description": "Price list identifier",
                                "format": "int32"
                              }
                            }
                          },
                          "salesAssistant": {
                            "$ref": "#/components/schemas/SalesAssistant1"
                          },
                          "accountManager": {
                            "$ref": "#/components/schemas/AccountManager1"
                          }
                        }
                      },
                      "shipment": {
                        "type": "object",
                        "properties": {
                          "deliveryTerms": {
                            "type": "string",
                            "description": "Default delivery terms for the customer. The delivery terms is based on the Incoterms rules from ICC (International Chamber of Commerce). "
                          },
                          "deliveryTermPlace": {
                            "type": "string",
                            "description": "Named place related to delivery terms (Incoterms)"
                          },
                          "onlyShipEntireSalesOrders": {
                            "type": "boolean",
                            "description": "True if all items of a sales order should be shipped together. The items of a sales order should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                          },
                          "onlyShipEntireSalesOrderItems": {
                            "type": "boolean",
                            "description": "True if the total quantity of a sales order item always should be shipped together. The quantity should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                          },
                          "avoidMultipleShipmentsOnSameDate": {
                            "type": "boolean",
                            "description": "True if all items of a sales order with the same sheduled delivery date should be shipped together. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                          },
                          "shipBasedOnConfirmedDeliveryDate": {
                            "type": "boolean",
                            "description": "If true, will sheduled shipping date on each item be calculated based on confirmed date rather than requested date."
                          },
                          "freightForEachShipment": {
                            "type": "boolean",
                            "description": "If unchecked there will only be calculated freight on one shipping advice if the particular sales order has serveral shipments."
                          },
                          "shippingDay": {
                            "type": "string",
                            "description": "Specifies when the goods should be shipped. This is used to calculate the scheduled shipping date for each item."
                          },
                          "consolidateShippingAdvices": {
                            "type": "boolean",
                            "description": "If true, sales orders will be consolidated when creating shipping advices via the \"Prepare for picking\" process  the . If false, each sales order will result in seperate shipping advice. The field to use when consolidating is specified in the ShippingAdviceConsolidationField. "
                          },
                          "shippingAdviceConsolidationField": {
                            "type": "string",
                            "description": "Field to use when consolidating sales order items into shipping advices in the \"Prepare for picking\" process."
                          },
                          "shippingAdviceItemSortBy": {
                            "type": "string",
                            "description": "Items in consolidated shipping advices will be sorted by this fields when they are created in the 'Prepare for picking' process"
                          },
                          "requireApprovalIfOverdue": {
                            "type": "boolean",
                            "description": "True if  shipments need approval if there are sales invoices with overdue amount. Default value is retireved from setting: DefaultCreateValueCUSFieldDUEAPPROVE"
                          },
                          "blockShipping": {
                            "type": "boolean",
                            "description": "True if shipping advices for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to shipping advices for this customer."
                          },
                          "specialHandling": {
                            "$ref": "#/components/schemas/SpecialHandling1"
                          },
                          "shippingService": {
                            "type": "object",
                            "properties": {
                              "shippingServiceId": {
                                "minimum": 100000,
                                "type": "integer",
                                "description": "Shipping service identifier",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      },
                      "invoicing": {
                        "type": "object",
                        "properties": {
                          "interestRate": {
                            "maxLength": 1000,
                            "minLength": 0,
                            "type": "number",
                            "description": "Interest rate used for sales invoices past duedate",
                            "format": "double"
                          },
                          "interestFeeAmount": {
                            "minLength": 0,
                            "type": "number",
                            "description": "Fixed interest fee used for the customer.",
                            "format": "double"
                          },
                          "salesInvoiceConsolidation": {
                            "type": "string",
                            "description": "Specifies whether or how often shipping advices that origins from this sales order will be consolidated when creating sales invoices."
                          },
                          "salesInvoiceConsolidationField": {
                            "type": "string",
                            "description": "Field name to group by when consolidating shipping advice items into sales invoices."
                          },
                          "salesInvoiceItemSortBy": {
                            "type": "string",
                            "description": "Field name to sort by when creating sales invoice items."
                          },
                          "sendReminders": {
                            "type": "boolean",
                            "description": "Set to false if reminder are not be sent to this customer. Default value is retireved from setting: DefaultCreateValueCUSFieldREMINDER"
                          },
                          "sendToFactoring": {
                            "type": "boolean",
                            "description": "Identify which customer, invoices ands credit notes, will be send to factoring"
                          }
                        }
                      },
                      "payment": {
                        "$ref": "#/components/schemas/Payment"
                      },
                      "accounting": {
                        "$ref": "#/components/schemas/Accounting"
                      },
                      "auction": {
                        "type": "object",
                        "properties": {
                          "feePercent": {
                            "maxLength": 100,
                            "minLength": 0,
                            "type": "number",
                            "description": "The commission paid by the customer when purchasing LOTs",
                            "format": "double"
                          }
                        }
                      },
                      "service": {
                        "$ref": "#/components/schemas/Service"
                      },
                      "rental": {
                        "$ref": "#/components/schemas/Rental"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/sales/orders/{salesOrderId}/items": {
      "post": {
        "tags": [
          "sales"
        ],
        "summary": "Creates a new item in provided sales order.\r\n\r\nNote that Discount will be ignored when DiscountPercent is provided. \r\nNote also that Discount, DiscountPercent and GrossPrice will be ignored when GrossMargin is provided.",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=1903&version=27"
        },
        "operationId": "sales_PostItemsForOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/salesOrderId"
          },
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "salesOrderItem": {
                    "required": [
                      "quantity"
                    ],
                    "type": "object",
                    "properties": {
                      "type": {
                        "pattern": "",
                        "type": "integer",
                        "description": "Item type",
                        "format": "int32"
                      },
                      "requestedDeliveryDate": {
                        "pattern": "",
                        "type": "string",
                        "description": "The delivery date as requested by the customer.",
                        "format": "date"
                      },
                      "customersReferenceNumber": {
                        "pattern": "",
                        "type": "string",
                        "description": "Customers item reference number. Typically to the customers internal system."
                      },
                      "customersProductName": {
                        "pattern": "",
                        "type": "string",
                        "description": "Customers internal name of the product. Retrieved from the product."
                      },
                      "equivalentProductName": {
                        "pattern": "",
                        "type": "string",
                        "description": "Name of product with equivalent behavior and attributes. Can be used for same purpose. "
                      },
                      "requestedProductStructureRevision": {
                        "pattern": "",
                        "type": "string",
                        "description": "The revision will typically be a major change, as opposed to minor changes stored in the version of the product structure."
                      },
                      "productDescription": {
                        "pattern": "",
                        "type": "string",
                        "description": "Description of the item. If not specified, the description is by default copied from the product."
                      },
                      "note": {
                        "pattern": "",
                        "type": "string",
                        "description": "Additional information regarding the item (free text). Might be visible to customers/suppliers."
                      },
                      "grossMargin": {
                        "maxLength": 100,
                        "pattern": "",
                        "type": "number",
                        "description": "Gross margin of the item. An eventual approval of GM is triggered if this percentage is lower than the highest value of minimum gross margin set up in Customer, Product and  GM in COM",
                        "format": "double"
                      },
                      "discountPercent": {
                        "maxLength": 100,
                        "minLength": 0,
                        "pattern": "",
                        "type": "number",
                        "description": "The discount in percent for this item.",
                        "format": "double"
                      },
                      "quantity": {
                        "minLength": 0,
                        "pattern": "",
                        "type": "number",
                        "description": "Number of units ordered",
                        "format": "double"
                      },
                      "warranty": {
                        "type": "object",
                        "properties": {
                          "warrantyExpirationDate": {
                            "pattern": "",
                            "type": "string",
                            "description": "Date of warranty expiration.",
                            "format": "date"
                          }
                        }
                      },
                      "price": {
                        "type": "object",
                        "properties": {
                          "grossPrice": {
                            "pattern": "",
                            "type": "number",
                            "description": "Represents the price per unit before any discounting is applied.",
                            "format": "double"
                          },
                          "discount": {
                            "minLength": 0,
                            "pattern": "",
                            "type": "number",
                            "description": "Discount for each unit in the item, in document currency.  Will be calculated based on Discount percentage, or can be set manually.",
                            "format": "double"
                          }
                        }
                      },
                      "location": {
                        "type": "object",
                        "properties": {
                          "locationId": {
                            "minimum": 10000,
                            "pattern": "",
                            "type": "integer",
                            "description": "Location identifier",
                            "format": "int32"
                          }
                        }
                      },
                      "seller": {
                        "type": "object",
                        "properties": {
                          "employeeId": {
                            "minimum": 100,
                            "pattern": "",
                            "type": "integer",
                            "description": "Employee identifier",
                            "format": "int32"
                          }
                        },
                        "description": "Reference to the seller of the item"
                      },
                      "product": {
                        "required": [
                          "productId"
                        ],
                        "type": "object",
                        "properties": {
                          "productId": {
                            "minimum": 10000,
                            "pattern": "",
                            "type": "integer",
                            "description": "Product identifier",
                            "format": "int32"
                          }
                        }
                      },
                      "landedCost": {
                        "type": "object",
                        "properties": {
                          "purchaseCurrency": {
                            "pattern": "",
                            "type": "string",
                            "description": "Purchase currency is the currency this product normally is purchased in. This is also the base currency used in the gross margin calculation. By default the purchase currency is retrieved from the product."
                          },
                          "purchaseExchangeRate": {
                            "pattern": "",
                            "type": "number",
                            "description": "Exchange rate between document currency and purchase currency. Used in landed cost calculations.",
                            "format": "double"
                          },
                          "derivedFrom": {
                            "type": "object",
                            "properties": {
                              "purchaseQuoteItemId": {
                                "minimum": 1,
                                "pattern": "",
                                "type": "integer",
                                "description": "Purchase quote item identifier",
                                "format": "int32"
                              },
                              "purchaseQuote": {
                                "type": "object",
                                "properties": {
                                  "purchaseQuoteId": {
                                    "minimum": 100000,
                                    "pattern": "",
                                    "type": "integer",
                                    "description": "Purchase quote identifier",
                                    "format": "int32"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "recurringInvoicing": {
                        "type": "object",
                        "properties": {
                          "startDate": {
                            "pattern": "",
                            "type": "string",
                            "description": "Start date of subscription or rental item",
                            "format": "date"
                          },
                          "estimatedEndDate": {
                            "pattern": "",
                            "type": "string",
                            "description": "Expected end date of subscription or rental item",
                            "format": "date"
                          },
                          "priceChangeAgreement": {
                            "pattern": "",
                            "type": "integer",
                            "description": "Defines if and how the recurring price can be updated",
                            "format": "int32"
                          },
                          "recurringPrice": {
                            "type": "object",
                            "properties": {
                              "recurringPriceId": {
                                "minimum": 100000,
                                "pattern": "",
                                "type": "integer",
                                "description": "Recurring price indentifier",
                                "format": "int32"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "sales"
        ],
        "summary": "List of all order items for specified sales order",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=1811&version=44"
        },
        "operationId": "sales_ListItemsForOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/salesOrderId"
          },
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          },
          {
            "$ref": "#/components/parameters/showDomainValues"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/pagekey"
          },
          {
            "$ref": "#/components/parameters/inlineCount"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Used to add fields to the response",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "SalesOrderItem.EndCustomer",
                  "SalesOrderItem.TotalsConverted",
                  "SalesOrderItem.InitialSalesOrderItem"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "salesOrderItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "salesOrderItemId": {
                            "type": "integer",
                            "description": "Sales order item identifier",
                            "format": "int32"
                          },
                          "type": {
                            "type": "integer",
                            "description": "Item type",
                            "format": "int32"
                          },
                          "lineNumber": {
                            "type": "integer",
                            "description": "Line- or sequence number of the item. The LineNumber is used for sorting items in applications, prints, reports etc.",
                            "format": "int32"
                          },
                          "status": {
                            "type": "integer",
                            "description": "Status of the sales order item (0-9).",
                            "format": "int32"
                          },
                          "requestedDeliveryDate": {
                            "type": "string",
                            "description": "The delivery date as requested by the customer.",
                            "format": "date"
                          },
                          "confirmedDeliveryDate": {
                            "type": "string",
                            "description": "Confirmed date of delivery. Date of which the customer can expect the arriving goods",
                            "format": "date"
                          },
                          "isConfirmedDeliveryDateLocked": {
                            "type": "boolean",
                            "description": "If confirmed delivery date in sales order item (COA) is locked, this date should not be re-calculated automatically."
                          },
                          "customersReferenceNumber": {
                            "type": "string",
                            "description": "Customers item reference number. Typically to the customers internal system."
                          },
                          "customersProductName": {
                            "type": "string",
                            "description": "Customers internal name of the product. Retrieved from the product."
                          },
                          "productDescription": {
                            "type": "string",
                            "description": "Description of the item. If not specified, the description is by default copied from the product."
                          },
                          "note": {
                            "type": "string",
                            "description": "Additional information regarding the item (free text). Might be visible to customers/suppliers."
                          },
                          "discountPercent": {
                            "type": "number",
                            "description": "The discount in percent for this item.",
                            "format": "double"
                          },
                          "quantity": {
                            "type": "number",
                            "description": "Number of units ordered",
                            "format": "double"
                          },
                          "remainingQuantity": {
                            "type": "number",
                            "description": "Remaining number of units to be forwarded.",
                            "format": "double"
                          },
                          "endCustomer": {
                            "$ref": "#/components/schemas/EndCustomer"
                          },
                          "price": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "Three character code following the ISO 4217 standard"
                              },
                              "grossPrice": {
                                "type": "number",
                                "description": "Represents the price per unit before any discounting is applied.",
                                "format": "double"
                              },
                              "netPrice": {
                                "type": "number",
                                "description": "Final price per unit after deducting all discounts etc.",
                                "format": "double"
                              }
                            }
                          },
                          "totals": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "Three character code following the ISO 4217 standard"
                              },
                              "grossAmount": {
                                "type": "number",
                                "description": "Represents the item amount before any discounts etc. is applied.",
                                "format": "double"
                              },
                              "netAmount": {
                                "type": "number",
                                "description": "Final item amount after deducting all discounts etc.",
                                "format": "double"
                              },
                              "grossMarginAmount": {
                                "type": "number",
                                "description": "Profit amount in sales/document currency",
                                "format": "double"
                              }
                            }
                          },
                          "totalsConverted": {
                            "type": "object",
                            "properties": {
                              "grossMarginAmount": {
                                "type": "number",
                                "description": "Profit amount in local/converted currency",
                                "format": "double"
                              }
                            }
                          },
                          "product": {
                            "type": "object",
                            "properties": {
                              "productId": {
                                "type": "integer",
                                "description": "Product identifier",
                                "format": "int32"
                              },
                              "name": {
                                "type": "string",
                                "description": "Name of the product"
                              },
                              "type": {
                                "type": "string",
                                "description": "Type of product"
                              },
                              "manufacturer": {
                                "type": "object",
                                "properties": {
                                  "manufacturerId": {
                                    "type": "integer",
                                    "description": "Manufacturer identifier",
                                    "format": "int32"
                                  },
                                  "manufacturerLink": {
                                    "type": "string",
                                    "description": "Manufacturer reference"
                                  }
                                }
                              },
                              "productLink": {
                                "type": "string",
                                "description": "Product reference"
                              }
                            }
                          },
                          "initialSalesOrderItem": {
                            "$ref": "#/components/schemas/InitialSalesOrderItem"
                          },
                          "recurringInvoicing": {
                            "type": "object",
                            "properties": {
                              "priceChangeAgreement": {
                                "type": "integer",
                                "description": "Defines if and how the recurring price can be updated",
                                "format": "int32"
                              },
                              "startDate": {
                                "type": "string",
                                "description": "Start date of subscription or rental item",
                                "format": "date"
                              },
                              "expectedEndDate": {
                                "type": "string",
                                "description": "Expected end date of subscription or rental item",
                                "format": "date"
                              },
                              "recurringPrice": {
                                "type": "object",
                                "properties": {
                                  "recurringPriceId": {
                                    "type": "integer",
                                    "description": "Recurring price indentifier",
                                    "format": "int32"
                                  },
                                  "recurringPriceLink": {
                                    "type": "string",
                                    "description": "Recurring price reference"
                                  }
                                }
                              }
                            }
                          },
                          "salesOrderItemLink": {
                            "type": "string",
                            "description": "Reference to the sales order item."
                          }
                        }
                      }
                    },
                    "paging": {
                      "$ref": "#/components/schemas/Paging"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sales/customers": {
      "post": {
        "tags": [
          "sales"
        ],
        "summary": "Creates a new customer",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=1820&version=21"
        },
        "operationId": "sales_PostCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "customer": {
                    "required": [
                      "name"
                    ],
                    "type": "object",
                    "properties": {
                      "name": {
                        "pattern": "",
                        "type": "string",
                        "description": "Name of customer (name of company or surname/familyname/lastname of a person)"
                      },
                      "isCompany": {
                        "pattern": "",
                        "type": "boolean",
                        "description": "Indicator if a customer is private entity or a company"
                      },
                      "firstName": {
                        "pattern": "",
                        "type": "string",
                        "description": "Secondary name of a company or firstname of a person"
                      },
                      "preferredLanguage": {
                        "pattern": "^[a-z]{3}$",
                        "type": "string",
                        "description": "Preferred language for the customer. Is used in prints etc.\r\n"
                      },
                      "website": {
                        "pattern": "",
                        "type": "string",
                        "description": "Customers website/homepage/webpage"
                      },
                      "phone": {
                        "pattern": "",
                        "type": "string",
                        "description": "Customers main phone number"
                      },
                      "fax": {
                        "pattern": "",
                        "type": "string",
                        "description": "Customers main fax number"
                      },
                      "email": {
                        "pattern": "^\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*$",
                        "type": "string",
                        "description": "Customers main email"
                      },
                      "externalReference": {
                        "pattern": "",
                        "type": "string",
                        "description": "External customer reference/identifier. Can be used in external systems."
                      },
                      "internalNote": {
                        "pattern": "",
                        "type": "string",
                        "description": "Internal note/notice of the customer. Should not be visible to the customer."
                      },
                      "isRelatedBusinessEntity": {
                        "pattern": "",
                        "type": "boolean",
                        "description": "Identify if a customer is related business entity to the company"
                      },
                      "legalEntityIdentifier": {
                        "pattern": "",
                        "type": "string",
                        "description": "The customers unique enterprise/organization number."
                      },
                      "vATRegistrationNumber": {
                        "pattern": "",
                        "type": "string",
                        "description": "Unique number assigned by the relevant tax authority to identify a party for use in relation to value added tax (VAT)."
                      },
                      "currencies": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Currency"
                        },
                        "description": "Currencies used by the customer"
                      },
                      "sales": {
                        "type": "object",
                        "properties": {
                          "salesDistrict": {
                            "pattern": "",
                            "type": "string",
                            "description": "A geographic district for which an individual salesperson or sales team holds responsibility"
                          },
                          "sector": {
                            "pattern": "",
                            "type": "string",
                            "description": "The sector the customer belongs to."
                          },
                          "marketSegment": {
                            "pattern": "",
                            "type": "string",
                            "description": "Market segment of the customer"
                          },
                          "minimumGrossMargin": {
                            "maxLength": 99,
                            "minLength": 0,
                            "pattern": "",
                            "type": "number",
                            "description": "The minimum gross margin in percent for the customer",
                            "format": "double"
                          },
                          "vATHandling": {
                            "pattern": "",
                            "type": "string",
                            "description": "Specifies how value added tax (VAT) should be calculated. Either always include VAT, always exclude VAT or use standard/default VAT rules."
                          },
                          "warrantyPeriod": {
                            "minimum": 0,
                            "pattern": "",
                            "type": "integer",
                            "description": "Agreement of default warranty period in months ",
                            "format": "int32"
                          },
                          "feeAmount": {
                            "minLength": 0,
                            "pattern": "",
                            "type": "number",
                            "description": "This is an amount, in the companies local currency, that by default will be added as fee when a sales order is created for this customer.",
                            "format": "double"
                          },
                          "volumePriceAgreement": {
                            "pattern": "",
                            "type": "string",
                            "description": "Special price agreement related to the quantity beeing ordered. "
                          },
                          "exchangeRateFluctuationAgreement": {
                            "pattern": "",
                            "type": "string",
                            "description": "When a sales order is issued, RamBase stores the current exchange rate and the currency the product normally is purchased in. The exchange rate might have changed when the invoice is issued. The exchange rate fluctuation agreement specifies how to handle these differences. The agreement has the format AAA/BBB, where AAA is a percentage of the total invoice, and BBB is the exchange rate fluctuation percentage. E.g. 100/3.0 means that if the rate of exchange on the date a sales order is forwarded to an invoice has changed more than +/- 3% from the rate of exchange, 100% of the invoice amount will be adjusted."
                          },
                          "salesAssistant": {
                            "$ref": "#/components/schemas/SalesAssistant1"
                          },
                          "accountManager": {
                            "$ref": "#/components/schemas/AccountManager1"
                          }
                        }
                      },
                      "shipment": {
                        "type": "object",
                        "properties": {
                          "onlyShipEntireSalesOrders": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "True if all items of a sales order should be shipped together. The items of a sales order should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                          },
                          "onlyShipEntireSalesOrderItems": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "True if the total quantity of a sales order item always should be shipped together. The quantity should never be split into several shipments. If sales order is forwarded to shipping advice by bulk handling, this will be controlled by RamBase. Manually forward requires that the users controls this themselves."
                          },
                          "shipBasedOnConfirmedDeliveryDate": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "If true, will sheduled shipping date on each item be calculated based on confirmed date rather than requested date."
                          },
                          "freightForEachShipment": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "If unchecked there will only be calculated freight on one shipping advice if the particular sales order has serveral shipments."
                          },
                          "shippingDay": {
                            "pattern": "",
                            "type": "string",
                            "description": "Specifies when the goods should be shipped. This is used to calculate the scheduled shipping date for each item."
                          },
                          "consolidateShippingAdvices": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "If true, sales orders will be consolidated when creating shipping advices via the \"Prepare for picking\" process  the . If false, each sales order will result in seperate shipping advice. The field to use when consolidating is specified in the ShippingAdviceConsolidationField. "
                          },
                          "shippingAdviceConsolidationField": {
                            "pattern": "",
                            "type": "string",
                            "description": "Field to use when consolidating sales order items into shipping advices in the \"Prepare for picking\" process."
                          },
                          "shippingAdviceItemSortBy": {
                            "pattern": "",
                            "type": "string",
                            "description": "Items in consolidated shipping advices will be sorted by this fields when they are created in the 'Prepare for picking' process"
                          },
                          "requireApprovalIfOverdue": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "True if  shipments need approval if there are sales invoices with overdue amount. Default value is retireved from setting: DefaultCreateValueCUSFieldDUEAPPROVE"
                          },
                          "specialHandling": {
                            "$ref": "#/components/schemas/SpecialHandling1"
                          }
                        }
                      },
                      "invoicing": {
                        "type": "object",
                        "properties": {
                          "interestRate": {
                            "maxLength": 1000,
                            "minLength": 0,
                            "pattern": "",
                            "type": "number",
                            "description": "Interest rate used for sales invoices past duedate",
                            "format": "double"
                          },
                          "interestFeeAmount": {
                            "minLength": 0,
                            "pattern": "",
                            "type": "number",
                            "description": "Fixed interest fee used for the customer.",
                            "format": "double"
                          },
                          "salesInvoiceConsolidation": {
                            "pattern": "",
                            "type": "string",
                            "description": "Specifies whether or how often shipping advices that origins from this sales order will be consolidated when creating sales invoices."
                          },
                          "salesInvoiceConsolidationField": {
                            "pattern": "",
                            "type": "string",
                            "description": "Field name to group by when consolidating shipping advice items into sales invoices."
                          },
                          "salesInvoiceItemSortBy": {
                            "pattern": "",
                            "type": "string",
                            "description": "Field name to sort by when creating sales invoice items."
                          },
                          "sendReminders": {
                            "pattern": "",
                            "type": "boolean",
                            "description": "Set to false if reminder are not be sent to this customer. Default value is retireved from setting: DefaultCreateValueCUSFieldREMINDER"
                          }
                        }
                      },
                      "payment": {
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "pattern": "",
                            "type": "string",
                            "description": "Default payment method for the customer"
                          }
                        }
                      },
                      "accounting": {
                        "$ref": "#/components/schemas/Accounting"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "sales"
        ],
        "summary": "List of all customers",
        "externalDocs": {
          "url": "https://api.rambase.net/documentation?resourceno=293&version=60"
        },
        "operationId": "sales_ListCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/db"
          },
          {
            "$ref": "#/components/parameters/showCustomFields"
          },
          {
            "$ref": "#/components/parameters/showDomainValues"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "$ref": "#/components/parameters/select"
          },
          {
            "$ref": "#/components/parameters/pagekey"
          },
          {
            "$ref": "#/components/parameters/inlineCount"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Used to add fields to the response",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "Customer.Sales.PriceList",
                  "Customer.Sales.AccountManager",
                  "Customer.Invoicing",
                  "Customer.Shipment"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "customerId": {
                            "type": "integer",
                            "description": "Customer identifier",
                            "format": "int32"
                          },
                          "status": {
                            "type": "integer",
                            "description": "Status of the customer. 1:New, 2:Pending internal approvement, 4:Active, 9:Obsolete",
                            "format": "int32"
                          },
                          "name": {
                            "type": "string",
                            "description": "Name of customer (name of company or surname/familyname/lastname of a person)"
                          },
                          "isCompany": {
                            "type": "boolean",
                            "description": "Indicator if a customer is private entity or a company"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Secondary name of a company or firstname of a person"
                          },
                          "internalNote": {
                            "type": "string",
                            "description": "Internal note/notice of the customer. Should not be visible to the customer."
                          },
                          "externalReference": {
                            "type": "string",
                            "description": "External customer reference/identifier. Can be used in external systems."
                          },
                          "legalEntityIdentifier": {
                            "type": "string",
                            "description": "The customers unique enterprise/organization number."
                          },
                          "vATRegistrationNumber": {
                            "type": "string",
                            "description": "Unique number assigned by the relevant tax authority to identify a party for use in relation to value added tax (VAT)."
                          },
                          "useStandardVATNumberRules": {
                            "type": "boolean",
                            "description": "Do not automatically replace the VAT number based on the location configuration"
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "Date and time of creation",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "description": "Date and time of update",
                            "format": "date-time"
                          },
                          "classification": {
                            "type": "string",
                            "description": "Classification of the customer"
                          },
                          "accounting": {
                            "type": "object",
                            "properties": {
                              "billingYTDAmount": {
                                "type": "number",
                                "description": "Total amount of invoices and credit notes that has been invoiced this year (to current date)",
                                "format": "double"
                              }
                            }
                          },
                          "sales": {
                            "type": "object",
                            "properties": {
                              "blockSalesOrderRegistration": {
                                "type": "boolean",
                                "description": "True if sales orders for this customer should be blocked/denied/rejected registration. A notification of type \"Stop\" will also be added to sales orders for this customer."
                              },
                              "priceList": {
                                "$ref": "#/components/schemas/PriceList"
                              },
                              "accountManager": {
                                "$ref": "#/components/schemas/AccountManager"
                              }
                            }
                          },
                          "invoicing": {
                            "type": "object",
                            "properties": {
                              "defaultInvoiceAddress": {
                                "type": "object",
                                "properties": {
                                  "addressId": {
                                    "type": "integer",
                                    "description": "Address identifier",
                                    "format": "int32"
                                  },
                                  "addressLine1": {
                                    "type": "string",
                                    "description": "First address line"
                                  },
                                  "addressLine2": {
                                    "type": "string",
                                    "description": "Second address line"
                                  },
                                  "postalCode": {
                                    "type": "string",
                                    "description": "Postalcode/Postcode/ZIP"
                                  },
                                  "city": {
                                    "type": "string",
                                    "description": "City/town/village"
                                  },
                                  "region": {
                                    "type": "string",
                                    "description": "Region/province/state"
                                  },
                                  "countryCode": {
                                    "type": "string",
                                    "description": "Two-character code (ISO 3166) identifying the country."
                                  },
                                  "country": {
                                    "type": "string",
                                    "description": "English name of country."
                                  },
                                  "addressLink": {
                                    "type": "string",
                                    "description": "Address reference"
                                  }
                                }
                              }
                            }
                          },
                          "shipment": {
[...]
